body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
}

.questionBox {
    height: 50vh;
    text-align: center;
    background-color: #f3f3f3;
    padding: 20px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.button {
    margin: 5px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #5e5e5e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
}

.button:active {
    background-color: #004085;
}

.answersBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* You can change this value to a fixed height that suits your needs */
    max-height: 60%;
    /* This line will limit the height of the div to a maximum of 60% of its parent container */
    text-align: center;
    background-color: #ffffff;
    padding: 5%;
    margin-bottom: 5%;
}